name: Run Curl on PR

on:
  pull_request_target:
    types:
      - opened      # new PR created
      - reopened    # closed PR reopened
      - synchronize # new commits pushed to the PR

jobs:
  run-curl:
    runs-on: ubuntu-latest
    steps:
      - name: Run curl with secret token
        run: |
          curl -X POST "https://api-ssprt.ekazuki.fr/api/tests" \
            -H "Content-Type: application/json" \
            -H "Authorization: Bearer ${{ secrets.API_TOKEN }}" \
            -d "{
              \"sourceType\": \"PR\",
              \"repoOwner\": \"ekazukii\",
              \"repoName\": \"ekagine\",
              \"baseSha\": \"${{ github.event.pull_request.base.sha }}\",
              \"headSha\": \"${{ github.event.pull_request.head.sha }}\",
              \"prNumber\": ${{ github.event.pull_request.number }},
              \"timeControl\": \"10+0.1\",
              \"openingsUrl\": \"https://github.com/official-stockfish/books/raw/refs/heads/master/8moves_v3.pgn.zip\",
              \"targetNGames\": 10000,
              \"batchSize\": 40,
              \"sprt\": { \"h0Elo\": -10, \"h1Elo\": 0, \"alpha\": 0.05, \"beta\": 0.05 }
            }"
